@import "tailwindcss";
@plugin "tailwind-scrollbar-hide";

html,
body {
  margin: 0;
  padding: 0;
}
body{
  @apply bg-gray-900 min-h-screen bg-linear-to-b from-gray-800/35 to-black/45 text-white;
}

button{
  @apply flex justify-center items-center text-white font-bold py-2 px-4 mx-auto my-2 rounded-2xl;
}


.disabled{
  @apply bg-gray-500 opacity-75 cursor-not-allowed transition-all duration-300;
}
